* {
    box-sizing: border-box;
}

body {
    margin: 10px 0;
    padding: 0;
}

.important {
    font-weight: bold;
    color: #f84c4c;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 3px 3px 3px dimgrey;
}

.wrapper {
    margin: 0 auto;
    padding: 15px;
    width: min(650px, 100%);
    min-height: 50vh;
    background-color: rgba(128, 128, 128, 0.2);
    box-shadow: 5px 8px 35px -5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(12, 6, 6, 0.3);

}

.app-title {
    margin: 0 auto;
    padding: 8px;
    background-color: rgba(0, 255, 255, 0.18);

}

.app-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    margin: 10px auto;
}

.input-add-task {
    width: min(500px, 100%);
    margin: 0 auto;
}

.button-add-task {
    border-radius: 8px;
    background-color: rgba(103, 103, 171, 0.16);
    width: min(100px, 100%);
    margin: 0 auto;
}

.tasks-list {
list-style-type: none;
}

.tasks-list-item {

}
